<h1>Aközcan Eczanesi | Sıcaklık ve Nem Verileri</h1>

<form action="/sensor_data.csv" target="_blank">
  <label for="date">Ay seçin:</label>
  <input type="month" id="date" name="date"
         min="2019-01" value="2019-01">
  <input type="submit" value="İndir">
</form>

<table cellspacing="10">
  <thead>
  <tr>
    <th>Sıcaklık (°C)</th>
    <th>Nem (%)</th>
    <th>Tarih</th>
    <th>Saat</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <% @sensor_data.each do |sensor_datum| %>
      <tr>
        <td align="center"><%= sensor_datum.temperature %></td>
        <td align="center"><%= sensor_datum.humidity %></td>
        <td align="center"><%= sensor_datum.created_at.in_time_zone('Istanbul').strftime('%d/%m/%y') %></td>
        <td align="center"><%= sensor_datum.created_at.in_time_zone('Istanbul').strftime('%H:%M') %></td>
      </tr>
  <% end %>
</table>

<br>